// Cores
$cinza: #818181;
$branco: #fafafa;
$preto: #000;
$btn-color: #eb0029;
$btn-hover: #750616;

button:focus {
  outline: none;
}

html,
body {
  background-color: $preto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1;
}

@media (min-width: 1200px) {
  html,
  body {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  html,
  body {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 13px;
  }
}

/*Modificações*/
.wpcf7-response-output {
  color: inherit;
  font-size: 18px;
  text-align: center;
  padding: 1rem !important;
  font-weight: 400;
  border-width: 6px !important;
  margin: 0;
}

.btn {
  white-space: normal;
  border-radius: 0;
}

.btn-answer{
  background-color: $btn-color;
  color: $branco;

  &:hover{
    background-color: $btn-hover;
  }
}

.score{
  text-align: center;

  p{
    color: $branco;
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  span{
    background-color: $btn-hover;
    color: $branco;
    padding: 2rem 2.5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
  }
}

.form-group{
  label{
    color: $branco;
  }

  input{
    border-radius: 0;
    background-clip: unset;
  }
}